doctype
html
  head
    title yoka
    meta(charset="UTF-8")
  body
    div あたなは#{field.name}にいる
    for move in moves
      form(method="post", action="/move")
        input(type="hidden", name="id", value="#{move.id}")
        input(type="submit", value="#{move.name}")
      

