doctype
html
  head
    title yoka
  body
    div
      a(href="signup") signup
    form(method="post")
      ul(style="list-style:none;margin:0;padding:0;")
        li
          input(placeholder="ID")
        li
          input(placeholder="password", type="password")
        li
          input(type="submit", value="LOGIN")

