doctype
html
  head
    title yoka
  body
    form(method="post")
      ul(style="list-style:none;margin:0;padding:0;")
        li
          input(name="id", placeholder="ID")
        li
          input(name="passowrd", placeholder="password", type="password")
        li
          input(name="confirm", placeholder="confirm password", type="password")
        li
          input(type="submit", value="SIGNUP")

